@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat", sans-serif;
  /* --font-lora: "Aboreto", cursive; */
  --primary: #003232;
  --secondary: #E8B716;
  --dark: #232323;
  --light: #545454;
  --extra-light: #9C9C9C;
  --border-clr: #C8C8C8;
  --bg-clr: #FBF7E9;
}

.font-aboreto {
  font-family: var(--font-aboreto);
}

@theme inline {
  --color-primary: #003232;
  --color-secondary: #E8B716;
  --color-dark: #232323;
  --color-light: #545454;
  --color-extra-light: #9C9C9C;
  --color-border-clr: #C8C8C8;
  --color-bg1: #FBF7E9;
}

body {
  font-family: var(--font-montserrat);
  /* background-color: var(--bg-clr); */
}

@layer utilities {
 .box-shadow {
   box-shadow: 0px 7px 29px 0px #64646F33;
 }
}

.custom-swiper {
  .swiper-slide-next {
    margin-top: 4.5rem !important;
    transition: margin-top 0.3s ease-in-out;
    @media (width <= 768px) {
      margin-top: 0 !important;
    }
  }
}